<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Class Management</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
</head>
<style>
    body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #2f3346;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #282f47;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #2d2f3b;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #353845;
}


.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

#sidebar.active {
    margin-left: -250px;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}





</style>

<body>

    <div class="wrapper">
        <!-- Sidebar -->
        <nav id="sidebar">
            
            
            <div class="sidebar-header">
                <h3>Class Management</h3>
            </div>
    
            <ul class="list-unstyled components">
                <p>Welcome...</p>
                <li>
                    <a href="../students/index.php">Students</a>
                </li>
                </li>
                <li>
                    <a href="../teachers/index.php">Teachers</a>
                </li>
        
                <li>
                    <a href="../classes/index.php">Classes</a>
                </li>
                <li>
                    <a href="../class-roster/index.php">Class Rosters</a>
                </li>
            </ul>
        </nav>

<!-- Page Content  -->
 <div id="content">

    <h2>CLASS MANAGER</h2>
    <br>
    <br>
    <div class="main-panel">
        <div class="content-wrapper pb-0">
          <div class="page-header flex-wrap">
            <h3 class="mb-0" style="margin-left:20px"> Classes Records 
            </h3>
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="d-flex">
                <a type="button" style="width: 100px; font-size: 12px" class="btn btn-sm ml-3 btn-success" a href="../classes/add.php"> Add a Class </a>
              </div>
            <div class="card-body">
                <h4 class="card-title">All Classes</h4> 
    <div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Class Name</th>
            <th scope="col">Class Code</th>
            <th scope="col">Description</th>
            <th scope="col">Teacher Name</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        {{# all_classes }}
               <tbody>
          <tr>
            <th scope="row">{{id}}</th>
            <td>{{ name }}</td>
            <td>{{ class_code }}</td>
            <td>{{ description }}</td>
            <td>{{ first_name }} {{last_name}}</td>
            <td width="20%">
                <a href="../classes/edit.php?id={{id}}" class="btn btn-info" style="width: 100px">Edit</a>
                <a href="../classes/delete.php?id={{id}}" class="btn btn-danger"  style="width: 100px">Remove</a>
            </td>
          </tr>
        </tbody>
        {{/ all_classes }}

      </table>
    </div>
 </div>

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

</body>

</html>